.nindyaSideLeft {
  background-color: #10613c;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nindyaSideLeftContent {
  flex: '0 0 520px';
}

.nindyaMainHead{
    height: 150px;
    background: #FFF;
   
}
.nindyaSidenav {
    height: 100%;
    background-color: #10613c;
    overflow-x: hidden;
    padding-top: 20px;
}
.nindyaMain {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .nindyaSidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .nindyaLoginForm{
        margin-top: 10%;
    }
    .nindyaRegisterForm{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .nindyaMain{
        margin-left: 40%; 
    }

    .nindyaSidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .nindyaLoginForm{
        margin-top: 80%;
    }

    .nindyaRegisterForm{
        margin-top: 20%;
    }
}

.nindyaLoginMainText{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.ninyaLoginMainText h2{
  font-weight: 300;
}

.btnBlack{
    background-color: #000 !important;
    color: #fff;
}
